<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul id="navigation">
            <a href="">
                <a>登録済みビデオ一覧</a>
            </a>
        </ul>
        {#ビデオ一覧のループを書く#}
        {% for single_video in video_array %}
            <li><a href=""> {{ single_video.getUrl }}</a></li>
        {% endfor %}
        <a href="{{ path('video/new') }}">
            新しく動画を登録
        </a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
