<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul id="navigation">
            動画再生画面
        </ul>
        {#ビデオ一覧のループを書く#}
        {% for single_video in video_array %}
            <li><a href="{{ path('video/detail', {'video_id': single_video.getId}) }}"> {{ single_video.getUrl }}</a></li>
        {% endfor %}
        {#ビデオ一覧から一個だけ取り出す#}
        <br>
        <br>
        <a href="{{ path('video') }}">
            登録動画一覧画面へ
        </a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
